*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/app/release
/release
/captures
.externalNativeBuild
.cxx
local.properties
scratch/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
.navigation/
